@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Sigmar&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url('https://wallpapercave.com/dwp1x/wp2257957.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}